
		<div class="row">
			<div class="col-md-12">
	    		<h4>{{ctrl.dataLabelLongMAPGRID}} for {{ctrl.currentYear}}</h4>
	    		<p>Choose a year to view on the map from the chosen time frame: {{ctrl.startYearMAPGRID}} to {{ctrl.endYearMAPGRID}}:</p>
	    		<div class="btn-group btn-group-sm" ng-repeat="year in ctrl.years">
			  		<button class='btn btn-default' index="{{$index}}" ng-class="{'btn-info': $index === ctrl.currentYearIndex}" ng-click="ctrl.updateYear($index)">{{year.year}}</button>
			 	</div>
			 	<div class="clearfix"></div>
 				<div ng-if="ctrl.dataToShowOnMap">
			 		<my-map val="ctrl.dataToShowOnMap" unit="ctrl.unit" domain="ctrl.domainForLengend"></my-map>
			 	</div>
	    	</div>
		</div>


