<!DOCTYPE html>
<html>
	<head>
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js'></script>
		<script src='index.js'></script>
		<style>
			.text-div{
				padding: 10px;
				width: 80%;
				margin: 0 10%;
				border: 1px solid #ccc;
			}
		</style>
	</head>
	<body ng-app="MyApp">
		<div ng-controller="MyController as myCtrl">
			<div ng-style="{'background-color': myCtrl.themeSelected.body}" class='text-div'>
				<!-- tried to use ng-repeat to make the radio buttons -->
<!-- 			<div ng-repeat="theme in myCtrl.themesArray">
					<input type="radio" name="theme" ng-value="{'myCtrl.'+theme.theme}" ng-model="myCtrl.themeSelected"> {{theme.label}}
				</div> -->
				<input type="radio" name="theme" ng-value="myCtrl.defaultTheme" ng-model="myCtrl.themeSelected"> Default
				<input type="radio" name="theme" ng-value="myCtrl.yellowTheme" ng-model="myCtrl.themeSelected"> Yellow
				<input type="radio" name="theme" ng-value="myCtrl.greenTheme" ng-model="myCtrl.themeSelected"> Green
				<input type="radio" name="theme" ng-value="myCtrl.redTheme" ng-model="myCtrl.themeSelected"> Red
				<input type="radio" name="theme" ng-value="myCtrl.blueTheme" ng-model="myCtrl.themeSelected"> Blue 
				<hr>
				<div ng-style="{'background-color': myCtrl.themeSelected.firstDiv}" class="text-div">
					<span ng-style="{color: myCtrl.themeSelected.text}">The first div's text</span>
				</div>
				<div ng-style="{'background-color': myCtrl.themeSelected.secondDiv}" class="text-div">
					<span ng-style="{color: myCtrl.themeSelected.text}">The second div's text</span>
				</div>
			</div> 
		</div>
	</body><!-- end of MyApp, angular ends here -->
</html>